@media screen and (max-width: 768px){

    .nav {
        display: none;
    }

    .nav__more {
        display: flex;
        column-gap: 6px;
    }

    .catalogue__button p {
        display: none;
    }
}