* {
    box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    font-family: 'Roboto', Arial, sans-serif;
}

.wrapper {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 15px;
}

.bg_blue {
    background-color: #005BB9;
}

.bg_dark-blue {
    background-color: #0F2438;
}

.font_white {
    color: #FFF;
}

.font_blue {
    color: #005BB9;
}

.font_dark-blue {
    color: #0F2438;
}

.font_gray {
    color: #868DAC;
}

.navbar__body {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
}

.navbar__left {
    display: flex;
}

.your__location {
    display: flex;
    column-gap: 6px;
    align-items: center;
    margin-right: 50px;
}

.information,
.cooperation {
    display: flex;
    align-items: center;
    column-gap: 6px;
}

.information {
    margin-right: 30px;
}

.navbar__right {
    display: flex;
    align-items: center;
}

.nav {
    display: flex;
    column-gap: 30px;
}

.nav a {
    text-decoration: none;
}

.nav__more {
    display: none;
}

.header__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.shop__logo {
    display: flex;
    align-items: center;
}

.shop__logo h1 {
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
}

.shop__logo h2 {
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
}

.hours__container {
    column-gap: 50px;
}

.header__contacts {
    column-gap: 50px;
}

.working__hours {
    display: flex;
    column-gap: 10px;
}

.work__time {
    display: flex;
    flex-direction: column;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
}

.work__time p:last-child {
    align-self: flex-end;
}

.our__location {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.our__location p {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
}

.whats-app {
    background: #E1EFD0;
    display: flex;
    align-items: center;
    column-gap: 6px;
    padding: 8px 15px;
}

.whats-app p {
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
}

.our__number {
    display: flex;
    flex-direction: column;
}

.phone__number {
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
}

.our__number p:nth-child(2) {
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    align-self: flex-end;
}

.header__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;
}

.catalogue__button {
    display: flex;
    align-items: center;
    column-gap: 10px;
    padding: 20px 32px;
    border-radius: 6px;
}

.catalogue__button p {
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
}

.search__form {
    flex: 1 1 auto;
    margin-left: 30px;
}

.input-group {
    flex-wrap: nowrap;
}

.form-control {
    background-color: #F4F5FA;
    border-radius: 6px 0 0 6px;
    border: none;
    font-weight: normal;
    font-size: 14px;
    color: #C2C5DA;
}

.input-group>.form-control,
.input-group>.form-select {
    width: 100%;
}

.btn {
    border: none;
    border-radius: 0 6px 6px 0;
    padding: 18px 30px;
    font-weight: 500;
    font-size: 14px;
}

.header__actions {
    display: flex;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
}

.header__log-in,
.header__features,
.header__cart {
    display: flex;
    align-items: center;
    column-gap: 15px;
    padding: 0 25px;
}

.header__cart {
    padding-right: 0;
}

.header__features {
    border-left: 1px solid #E1E5F8;
    border-right: 1px solid #E1E5F8;
}

.header {
    padding: 20px 0;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.main__slider {
    margin-top: 30px;
}

.main__slider__body {
    display: flex;
    column-gap: 10px;
}

.big__slider {
    background: url("images/clutch_bg.png") no-repeat center/cover;
    display: flex;
    justify-content: center;
    border-radius: 20px;
    position: relative;
    width: 70%;
}

.big__slider__left-arrow,
.big__slider__right-arrow {
    position: absolute;
    top: 40%;
}

.big__slider__left-arrow {
    left: 0;
}

.big__slider__right-arrow {
    right: 0;
}

.big__slider__description {
    display: flex;
    padding-left: 30px;
}

.big__slider__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.big__slider__text h2 {
    font-weight: 500;
    font-size: 36px;
    line-height: 42px;
}

.big__slider__text a {
    font-size: 20px;
    line-height: 23px;
    color: #717171;
}

.big__slider__photo {
    display: flex;
    align-items: center;
}

.big__slider__photo img {
    max-width: 100%;
}

.big__slider__price {
    font-weight: 500;
    font-size: 37px;
    line-height: 43px;
    color: #005BB9;
    padding-top: 25px;
    padding-bottom: 15px;
    white-space: nowrap;
}

.big__slider__price span {
    font-size: 22px;
    line-height: 26px;
    text-decoration-line: line-through;
    color: #C2C5DA;
}

.big__slider__button {
    display: flex;
    align-items: center;
    border-radius: 6px;
    padding: 15px 30px;
    column-gap: 6px;
}

.big__slider__button p {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}

.big__slider__switch-buttons {
    display: flex;
    justify-content: center;
    column-gap: 20px;
    padding: 10px 0;
    position: absolute;
    bottom: 0;
    left: 45%;
}

.discount__items {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    flex: 1 1 auto;
}

.discount__item__title {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
}

.discount__item__description p:nth-child(1) {
    font-weight: 500;
    font-size: 16px;
    line-height: 23px;
}

.discount__item__description p:nth-child(2) {
    padding-top: 6px;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #525252;
}

.discount__item__right {
    padding-left: 10px;
}

.discount__item__info {
    padding-top: 18px;
    display: flex;
    column-gap: 15px;
}

.discount__item__photo img p {
    max-width: 100%;
}

.discount__item__price {
    display: flex;
    column-gap: 30px;
}

.discount__item__price p {
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    color: #FFB800;
    align-self: flex-end;
}

.discount__item__price span {
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-decoration-line: line-through;
    color: #C2C5DA;
}

.discount__item__button {
    padding: 16px 20px;
    border-radius: 6px
}

.discount__item__top,
.discount__item__bottom {
    background: #F4F5FA;
    border-radius: 10px;
    padding: 20px 15px;
    width: 100%;
    height: 100%;
}

.slick__slider {
    margin-top: 70px;
}

.slick__slider__body {
    display: flex;
    margin: 0 -15px;
    position: relative;
}

.slick__slider__arrow-left,
.slick__slider__arrow-right {
    position: absolute;
    top: 30%;
}

.slick__slider__arrow-left {
    left: -25px;
}

.slick__slider__arrow-right {
    right: -25px;
}

.slick__slider__block {
    display: flex;
    padding: 0 15px;
    flex: 1 1 auto;
}

.slick__slider__photo {
    display: flex;
    align-items: center;
}

.slick__slider__content {
    display: flex;
    border: 1px solid #E1E5F8;
    border-radius: 6px;
    justify-content: space-between;
    width: 100%;
}

.slick__slider__description {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    align-items: flex-start;
    justify-content: center;
    padding: 20px;
}

.slick__slider__description h3 {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
}

.slick__slider__description p {
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    white-space: nowrap;
}

.slick__slider__button {
    border-radius: 6px;
}

.slick__slider__button p {
    padding: 5px 15px;
    font-size: 14px;
    line-height: 16px;
}
.main__content {
    margin-top: 70px;
}

.main__content__filters {
    display: flex;
    column-gap: 20px;
}

.main__content__filters div {
    border-radius: 6px;
}

.main__content__filters p {
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    padding: 16px 32px;
}

.filter__discounts,
.filter__now__buying {
    border: 2px solid #005BB9;
}

.main__content__items {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    overflow: hidden;
}

.content__first__row,
.content__second__row {
    display: flex;
}

.content__third__row {
    display: none;
}

.content__first__row {
    border-bottom: 1px solid #E1E5F8;
    padding-bottom: 40px;
}

.content__first__row .main__content__block:nth-child(2) .content__block__image,
.content__second__row .main__content__block:nth-child(2) .content__block__image {
    position: relative;
}

.content__first__row .main__content__block:nth-child(2) .content__block__image::before,
.content__second__row .main__content__block:nth-child(2) .content__block__image::before {
    content: '-40%';
    display: flex;
    align-items: center;
    justify-content: center;
    width: 39px;
    height: 20px;
    background: #FFB800;
    color: white;
    position: absolute;
}

.main__content__block {
    margin-top: 20px;
    flex: 1 1 auto;
}

.content__block__reviews {
    display: flex;
    font-size: 14px;
    line-height: 16px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.review__rating {
    font-weight: 500;
    color: #FFB800;
}

.review__count {
    color: #B0B0B0;
    padding-left: 10px;
}

.content__block__title {
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
}

.content__block__price {
    font-size: 13px;
    line-height: 15px;
    margin-top: 40px;
    margin-bottom: 20px;
}

.discount__price {
    font-weight: bold;
    font-size: 22px;
    line-height: 26px;
    color: #FFB800;
}

.discount__price span {
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-decoration-line: line-through;
    color: #C2C5DA;
}

.main__content__block:nth-child(2) .content__block__price {
    margin-bottom: 13px;
}

.main__content__block:nth-child(4) .content__block__reviews {
    margin-top: 14px;
}

.content__block__actions {
    display: flex;
    align-items: center;
    column-gap: 20px;
}

.content__buy__button {
    display: flex;
    align-items: center;
    padding: 15px 30px;
    border-radius: 6px;
    column-gap: 8px;
}

.content__buy__button p {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}

.main__content__more {
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

.main__content__more p {
    border: 2px solid #005BB9;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    border-radius: 6px;
    padding: 15px 40px;
}

.news__title {
    margin-top: 80px;
}

.news__title h3 {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
}

.news__timeline {
    height: 9px;
    background: #F5F5F5;
}

.timeline__items {
    display: flex;
    justify-content: space-between;
    width: 75.3%;
}

.timeline__points {
    position: relative;
}

.timeline__points img {
    position: absolute;
}

.news__section {
    margin-top: 60px;
}

.news__row {
    display: flex;
}

.news__block {
    flex-basis: 25%;
}

.news__block p {
    padding-top: 20px;
}

.news__description {
    padding-right: 60px;
    font-size: 16px;
    line-height: 20px;
    color: #242424;
}

.footer {
    margin-top: 120px;
}

.footer__row {
    padding-top: 36px;
}

.footer__left {
    display: flex;
    justify-content: space-between;
    width: 55%;
}

.footer__main__body {
    display: flex;
}

.footer__main__body h3 {
    margin-bottom: 14px;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
}

.footer__categories,
.footer__rubricator {
    padding-right: 15px;
}

.footer__list__item {
    row-gap: 14px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
}

.footer__cards {
    padding-top: 45px;
}

.footer__cards p {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
}

.footer__right {
    margin-left: 80px;
    flex: 1 1 auto;
}

.footer__contact__info {
    display: flex;
    justify-content: space-between;

}

.footer__contacts {
    padding-right: 15px;
}

.footer__contacts p,
.footer__address p {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}

.feedback__form {
    display: flex;
    justify-content: space-between;
    margin: 23px 0;
}

.feedback__form p:nth-child(1) {
    padding-right: 15px;
}

.footer__mail__form .form-control {
    background-color: #0F2438;
    color: #fff;
    border: 1px solid #203246;
}

.footer__mail__form .btn {
    padding: 10px 38px;
}

.feedback__form,
.mailing {
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
}

.mailing p {
    padding-bottom: 18px;
}

.footer__social__media {
    display: flex;
    justify-content: flex-end;
    margin-top: 25px;
    column-gap: 55px;
}

.footer__trademark {
    font-size: 16px;
    line-height: 20px;
    margin-top: 47px;
    padding-bottom: 18px;
}