* {
    box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    font-family: 'Roboto', Arial, sans-serif;
}

.wrapper {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 15px;
}

.bg_blue {
    background-color: #005BB9;
}

.bg_dark-blue {
    background-color: #0F2438;
}

.font_white {
    color: #FFF;
}

.font_blue {
    color: #005BB9;
}

.font_dark-blue {
    color: #0F2438;
}

.navbar__body {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
}

.navbar__left {
    display: flex;
}

.your__location {
    display: flex;
    column-gap: 6px;
    align-items: center;
    margin-right: 50px;
}

.information,
.cooperation {
    display: flex;
    align-items: center;
    column-gap: 6px;
}

.information {
    margin-right: 30px;
}

.navbar__right {
    display: flex;
    align-items: center;
}

.nav {
    display: flex;
    column-gap: 30px;
}

.nav a {
    text-decoration: none;
}

.header__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.shop__logo {
    display: flex;
    align-items: center;
}

.shop__logo h1 {
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
}

.shop__logo h2 {
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
}

.working__hours {
    display: flex;
    column-gap: 10px;
}

.work__time {
    display: flex;
    flex-direction: column;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
}

.work__time p:last-child {
    align-self: flex-end;
}

.our__location {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.our__location p {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
}

.whats-app {
    background: #E1EFD0;
    display: flex;
    align-items: center;
    column-gap: 6px;
    padding: 8px 15px;
}

.whats-app p {
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
}

.our__number {
    display: flex;
    flex-direction: column;
}

.phone__number {
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
}

.our__number p:nth-child(2) {
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    align-self: flex-end;
}

.header__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;
}

.catalogue__button {
    display: flex;
    align-items: center;
    column-gap: 10px;
    padding: 20px 32px;
    border-radius: 6px;
}

.catalogue__button p {
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
}

.search__form {
    flex: 1 1 auto;
    margin-left: 30px;
}

.input-group {
    flex-wrap: nowrap;
}

.form-control {
    background-color: #F4F5FA;
    border-radius: 6px 0 0 6px;
    border: none;
    font-weight: normal;
    font-size: 14px;
    color: #C2C5DA;
}

.input-group>.form-control,
.input-group>.form-select {
    width: 100%;
}

.btn {
    border: none;
    border-radius: 0 6px 6px 0;
    padding: 18px 30px;
    font-weight: 500;
    font-size: 14px;
}

.header__actions {
    display: flex;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
}

.header__log-in,
.header__features,
.header__cart {
    display: flex;
    align-items: center;
    column-gap: 15px;
    padding: 0 25px;
}

.header__cart {
    padding-right: 0;
}

.header__features {
    border-left: 1px solid #E1E5F8;
    border-right: 1px solid #E1E5F8;
}

.header {
    padding: 20px 0;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.main__slider {
    margin-top: 30px;
}

.main__slider__body {
    display: flex;
    column-gap: 10px;
}

.big__slider {
    background: url("images/clutch_bg.png") no-repeat center/cover;
}

.big__slider {
    display: flex;
    border-radius: 20px;
}

.big__slider__left-arrow,
.big__slider__right-arrow {
    display: flex;
    align-items: center;
}

.big__slider__description {
    display: flex;
}

.big__slider__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.big__slider__text h2 {
    font-weight: 500;
    font-size: 36px;
    line-height: 42px;
}

.big__slider__text a {
    font-size: 20px;
    line-height: 23px;
    color: #717171;
}

.big__slider__price {
    font-weight: 500;
    font-size: 37px;
    line-height: 43px;
    color: #005BB9;
    padding-top: 25px;
    padding-bottom: 15px;
}

.big__slider__price span {
    font-size: 22px;
    line-height: 26px;
    text-decoration-line: line-through;
    color: #C2C5DA;
}

.big__slider__button {
    display: flex;
    align-items: center;
    border-radius: 6px;
    padding: 15px 30px;
    column-gap: 6px;
}

.big__slider__button p {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}

.big__slider__switch-buttons {
    display: flex;
    justify-content: center;
    column-gap: 20px;
    padding: 10px 0;
}

.discount__items {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    flex: 1 1 auto;
}

.discount__item__title {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
}

.discount__item__description p:nth-child(1) {
    font-weight: 500;
    font-size: 16px;
    line-height: 23px;
}

.discount__item__description p:nth-child(2) {
    padding-top: 6px;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #525252;
}

.discount__item__info {
    padding-top: 18px;
    display: flex;
    column-gap: 15px;
}

.discount__item__price {
    display: flex;
    column-gap: 30px;
}

.discount__item__price p {
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    color: #FFB800;
    align-self: flex-end;
}

.discount__item__price span {
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-decoration-line: line-through;
    color: #C2C5DA;
}

.discount__item__button {
    padding: 16px 20px;
    border-radius: 6px
}

.discount__item__top,
.discount__item__bottom {
    background: #F4F5FA;
    border-radius: 10px;
    padding: 20px 15px;
    width: 100%;
    height: 100%;
}

.extra__slider {
    margin-top: 70px;
}

.extra__slider__body {
    display: flex;
}

.extra__slider__block {
    display: flex;
}